input {
  display: block;
  width: 15%;
  padding: .5rem;
  margin: 1rem 0;
}

label {
  font-weight: bold;
  font-size: medium;
}

button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


.add-button {
  padding: .5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
 }

 .add-button:hover {
   color: white;
   background-color: #42545C;
 }

 /* Add this CSS in your stylesheet or style section */

table {
  width: 30%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

th {
  background-color: #3498db;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}

/* Add some shadow to the table for a card-like effect */
table {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add a gradient to the header for a modern look */
th {
  background: linear-gradient(to right, #3498db, #2980b9);
}

/* Style for buttons or links inside the table cells */
td button {
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

td button:hover {
  background-color: #27ae60;
}

/* Optional: Add some animation to the table rows */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

tr {
  animation: fadeIn 0.5s ease-out;
}
