<h2>Employees</h2>


<div>
  <h2>Add Employee</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Employee Name:</label>
      <input type="text" id="employeeName" [(ngModel)]="employeeData.employeeName" name="employeeName" required>
    </div>
    <div class="form-group">
      <label for="artunit">Art Unit:</label>
      <input type="text" id="artunit" [(ngModel)]="employeeData.artUnit" name="artUnit" required>
    </div>
    <button type="submit">Add Employee</button>
  </form>
  <!-- <p>{{ responseMessage }}</p> -->

  <div>
    <h2>Employee List</h2>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>ArtUnit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.employeeId }}</td>
          <td>{{ employee.employeeName }}</td>
          <td>{{ employee.artUnit }}</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>

